@model AssignCourseForm

@{
    ViewData["Title"] = "New Course";
}



 <form  id="MyForm" method="post">
    <div class=" row">
        <div class="col-md-6 ">
            <div>
                <label for="Name" class="form-label mt-4"></label>
                <input type="text" class="form-control" for="Name" id="name" placeholder="Enter Course Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label for="Description" class="form-label mt-4"></label>
                <input type="text" class="form-control" for="Description" id="description" placeholder="Enter Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div>
                <label for="Hours" class="form-label mt-4"></label>
                <input type="text" class="form-control" for="Hours" id="hours" placeholder="Enter Hours">
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="CenterId" class="form-label mt-4"></label>
                <select class="form-select" for="CenterId" id="centerId" asp-items="Model.Centers"
                        data-placeholder="Select Center" data-minimum-results-for-search="Infinity">
                    <option></option>

                </select>
                <span asp-validation-for="CenterId" class="text-danger"></span>
            </div>
        </div>
        <input type="button" value="حفظ" onclick="AddCourse()" class="btn btn-light text-black mt-4"/>
    </div>
  

</form>

@section Scripts {
    <script type="text/javascript">
        debugger;

        function AddCourse() {
            var name= $("#name").val();
            var description= $("#description").val();
            var hours= $("#hours").val();
            var centerId = 1; 
            let fd = new FormData();
            fd.append("Name" ,name)
            fd.append("Description", description)
            fd.append("Hours", hours)
            fd.append("CenterId", centerId)
            console.log(fd);
            console.log(name)
            console.log(hours)

            $.ajax({
                url: "/Admin/AddCourse",
                type: "POST",
                contentType: false,
                processData:false,
                data:fd,
                success: function () {
                    console.log("sss")
                 
               },
                error: function () {
                    alert('Failed to receive the Data');
                    console.log('Failed ');
                }
            });
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}