@model AssignCourseForm

@{
    ViewData["Title"] = "New Course";
}


<div class="row " >
    <div class="col-6">
        <button type="button" id="addNewForm" class="btn btn-primary mb-4 p-2 "><i class="bi bi-plus-circle-fill p-2"></i></button>
    </div>
    @*d-flex*@
 <div class="col-6 text-center container ">
  <form class="border border-dark p-3 mb-2 bg-primary MyForm" id="MyForm" method="post">

    <div class=" row">
        <div class="col-md-6 ">
            <div>
                <label for="Name" class="form-label mt-4"></label>
                <input type="text" class="form-control" for="Name" id="name" placeholder="Enter Course Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label for="Description" class="form-label mt-4"></label>
                <input type="text" class="form-control" for="Description" id="description" placeholder="Enter Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div>
                <label for="Hours" class="form-label mt-4"></label>
                <input type="text" class="form-control" for="Hours" id="hours" placeholder="Enter Hours">
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="CenterId" class="form-label mt-4"></label>
                <select class="form-select" for="CenterId" id="centerId" asp-items="Model.Centers"
                        data-placeholder="Select Center" data-minimum-results-for-search="Infinity">
                    <option></option>

                </select>
                <span asp-validation-for="CenterId" class="text-danger"></span>
            </div>
                    <button type="button" class="mt-1 cancel btn btn-secondary">حذف</button>
        </div>
    </div>
 </form>

 </div>
    <div class="col-12 text-center">
        <input type="button" value="حفظ" onclick="AddCourse()" class="btn btn-primary col-6 text-black mt-4"/>
    </div>
</div>
@section Scripts {

    <script type="text/javascript" src="~/js/course/assigncourse.js"></script>
    <script>
        $(document).ready(function () {
            debugger;
            let counter = 1;
            $("#addNewForm").click(function () {
                if (counter > 10) {
                    alert("Only 10 textboxes allowed");
                    return false;
                } 
                else { 
                $(".MyForm")
                    .eq(0)
                    .clone()
                    .find("input").val("").end()
                    .show()
                    .insertAfter(".MyForm:last");
                    counter++;
                }
            });
            $('.container').on('click', ".cancel", function () {
               
                if (counter > 1) {
                    $(this).closest('.MyForm').remove();
                    counter--;
                } else {
                    
                    alert("Cannot remove the first form.");
                }
                
            });
        });  
    </script>
    <partial name="_ValidationScriptsPartial" />
}