

    <!-- Outer container -->
    <div class="container-fluid  py-4">
        <div class="row">
            <div class="col-md-6">
                <div class="container  p-3">
                    <h2>Teatcher</h2>

                        <a href="/Teatcher/Index" class="btn btn-primary">
                            <i class="fas fa-plus"></i>All Teatchers
                        </a> 
                        <a href="/Teatcher/Index" class="btn btn-success">
                            <i class="fas fa-plus"></i> Add teatcher
                        </a>
            
                </div>
            </div>
            <div class="col-md-6">
                <div class="container p-3">
                    <h2>Course</h2>
                   

                    <a href="/Course/Index" class="btn btn-primary  ">
                        <i class="fas fa-plus"></i> All Courses
                    </a>
                    <a href="/Course/Index" class="btn btn-success">
                        <i class="fas fa-plus"></i> Add Course
                    </a>
                   
                </div>
            </div>
        </div>
    </div>
