@* @{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
 *@
    <!-- Outer container -->
    <div class="container-fluid  py-4">
        <div class="row">
            <div class="col-md-6">
                <div class="container  p-3">
                    <h2>Teatcher</h2>

                        <a href="/Teatcher/Index" class="btn btn-primary">
                            <i class="fas fa-plus"></i>All Teatchers
                        </a> 
                        <a href="/Teatcher/Index" class="btn btn-success">
                            <i class="fas fa-plus"></i> Add teatcher
                        </a>
            
                </div>
            </div>
            <div class="col-md-6">
                <div class="container p-3">
                    <h2>Course</h2>
                   

                    <a href="/Course/Index" class="btn btn-primary  ">
                        <i class="fas fa-plus"></i> All Courses
                    </a>
                    <a href="/Course/Index" class="btn btn-success">
                        <i class="fas fa-plus"></i> Add Course
                    </a>
                   
                </div>
            </div>
        </div>
    </div>

@* <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
        <h1>Learning Today,<br>Leading Tomorrow</h1>
        <h2>We are team of talented designers making websites with Bootstrap</h2>
        <a asp-action="Index" asp-controller="Teatcher" class="btn-get-started">Get Started</a>
    </div>
</section><!-- End Hero -->
 *@