@model EditTeatcherForm

@{
    ViewData["Title"] = "New Teatcher";
}



<form asp-controller="Teatcher" method="post">

    <div class=" row">
        <div class="col-md-6 ">

            <h2 style="text-align:center">@Model.Name </h2>
            <div class="form-group">
                <label asp-for="CenterId" class="form-label mt-4"></label>
                <select class="form-select" asp-for="CenterId" asp-items="Model.Centers"
                        data-placeholder="Select Center" data-minimum-results-for-search="Infinity">
                    <option></option>

                </select>
                <span asp-validation-for="CenterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseId" class="form-label mt-4"></label>
                <select class="form-select" asp-for="CourseId" asp-items="Model.Courses"
                        data-placeholder="Select Course" data-minimum-results-for-search="Infinity">
                    <option></option>

                </select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
           
     
        </div>
        <button type="submit" class="btn btn-light text-black mt-4">Save</button>
    </div>
   
    </div>

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />


}