@model ChooseCourseViewModel

@{
    ViewData["Title"] = "Choose Course";
}

<form asp-controller="Student" method="post">

    <div class=" row">
        <div class="col-md-6 ">

       
            <div class="form-group">
                <label asp-for="CourseId" class="form-label mt-4"></label>
                <select class="form-select" asp-for="CourseId" asp-items="Model.Courses"
                        data-placeholder="Select Course" data-minimum-results-for-search="Infinity">
                    <option></option>

                </select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
        

        </div>
        <button type="submit" class="btn btn-light text-black mt-4">Save</button>
    </div>

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />


}