@model StudentIndexViewModel
<div class="d-flex align-items-center justify-content-center">

<div class="card" style="width: 18rem;">
    <img class="card-img-top" alt="student image cap" src="@($"{FileSettings.FilePath}{Model.Photo}")">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">My Courses : </p>
            @foreach (var c in Model.CoursesName)
            {
                <small>@c.Name</small><br>
            }
            <a asp-controller="Student" asp-action="ChooseCourse" class="btn btn-primary"> Add New Course</a>
    </div>
</div>

</div>
